* {
  font-family: "Poppins";
}
nav {
  box-sizing: border-box;
  width: 100vw;
  height: 6em;
  box-shadow: 2px 5px 5px 0px rgba(211, 211, 211, 0.5);
  padding: 20px;
}

main {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.navbar--logo {
  width: 10em;
  height: 3em;
}

.airbnb--hero {
  width: 50rem;
  height: 30rem;
  margin: 0 auto;
}

.airbnb--body_section {
  margin-top: 30px;
}

.airbnb--title {
  font-weight: 600;
  font-size: 46px;
}

.airbnb--body_text {
  font-weight: 300;
  font-size: 20px;
  width: 20em;
}
