* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #faf7f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app--card_container {
  margin: 45px 115px;
  height: 780px;
  width: 320px;
  background-color: #e2dac9;
  border-radius: 10px;
}
