* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #e2dac9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app--card_container {
  margin: 45px 115px;
  height: 780px;
  width: 320px;
  background-color: #7c6d62;
  border-radius: 10px;
  text-align: center;
}

.info--profile_picture {
  height: 320px;
  width: 320px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.info--name {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 0;
}

.info--position {
  font-size: 16px;
  font-weight: 400;
  color: #c59f73;
  margin-top: 5px;
  margin-bottom: 0;
}

.info--website {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 10px;
}

.info--contact {
  display: flex;
  justify-content: space-evenly;
}

.info--contact_button {
  width: 115px;
  height: 35px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  margin-top: 7px;
}

.linkedin {
  background-color: #5093e2;
  color: white;
}

.info--button_icon {
  margin-right: 5px;
  height: 16px;
}
